*.pyc
*.pyo
*.mp4
*.jpg
*.png
*.pt
*.pth
*.exe
artifacts/
Tmp_Frames/
Document/发票申请/
__pycache__/
Utils/AutoZoom/.git.bak/
Utils/ADOTOP/YoloUI/Dataset/
Utils/ADOTOP/EdgeDetect/outputs/
Utils/AutoZoom/focus_output/
Utils/AutoZoom/Source/
Utils/AutoZoom/sam2-main/
Utils/程序/Save/
Utils/AutoZoom/程序/Save/
Utils/AutoZoom/程序/test/
Utils/AutoZoom/measurement_output/rule_ab_follow_c_only/_static_c_map_library/default_static_c_map/
Utils/AutoZoom/measurement_output/calibration/full_calibration_static_c/
Utils/SLM/
Utils/AutoZoom/Log/
Utils/AutoZoom/measurement_output/calibration/
Utils/AutoZoom/Utils/yuan/
measurement_output/
focus_output/
sam2-main/
Log/
logs/
.ipynb_checkpoints/

