artifacts/
Tmp_Frames/
Document/发票申请/
__pycache__/
*.pyc
*.pyo
*.mp4
*.jpg
*.png
*.pt
*.pth
Utils/AutoZoom/.git.bak/
Utils/ADOTOP/YoloUI/Dataset/
Utils/ADOTOP/EdgeDetect/outputs/
Utils/AutoZoom/focus_output/
Utils/AutoZoom/Source/
Utils/AutoZoom/sam2-main/
Utils/程序/Save/