<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding
      xmlns="urn:schemas-microsoft-com:asm.v1"
      >
      <probing
        privatePath="AddInViews"
        />
      <dependentAssembly>
        <assemblyIdentity
          name="MediaCy.IQL.ObjectManager"
          publicKeyToken="04a4038cbc51657a"
          culture="neutral"
          />
        <!--Redirection from registry keys (HKCR/Record) used for UDT Variant interop-->
        <bindingRedirect
          oldVersion="3.0.0.0-9.2.0.0"
          newVersion="9.2.6077.0"
          />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup
    useLegacyV2RuntimeActivationPolicy="true"
    >
    <supportedRuntime
      version="v4.0"
      />
  </startup>
  <configProtectedData>
    <providers>
      <add
        keyContainerName="LightFieldConfigurationKey"
        useMachineContainer="true"
        name="LightFieldProtectedConfigurationProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        />
    </providers>
  </configProtectedData>
  <system.net>
    <mailSettings>
      <smtp
        configProtectionProvider="LightFieldProtectedConfigurationProvider"
        >
        <EncryptedData
          Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#"
          >
          <EncryptionMethod
            Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"
            />
          <KeyInfo
            xmlns="http://www.w3.org/2000/09/xmldsig#"
            >
            <EncryptedKey
              xmlns="http://www.w3.org/2001/04/xmlenc#"
              >
              <EncryptionMethod
                Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"
                />
              <KeyInfo
                xmlns="http://www.w3.org/2000/09/xmldsig#"
                >
                <KeyName>Rsa Key</KeyName>
              </KeyInfo>
              <CipherData>
                <CipherValue>CX1O5iA+XKWrNZPbS6QHo1YMSQ3CuI50Oi8bv0mUNkzWhyXeJl6eyeA0SdT8169R6BtKqAEB6D5uyl/FH4KDJ6mw/R6sMkLM6965kcAjAZcmY/wYf4jbv+327RhTYt5BEaij+lHT8X4De4jjlBzlMo9ozk2qbdPvUa8qaeq5GoA=</CipherValue>
              </CipherData>
            </EncryptedKey>
          </KeyInfo>
          <CipherData>
            <CipherValue>IPAYuoxdpD0uFjZ1YYnctx9x1vGs3TKhpVhEwQGpOeoNDywjI6mzVvvooOLFy3z63rPpdho44O0zveuKoxfFaTUWzRPXnzcTK+xCS8rZrUGtWFcFZE4/r/i2z2HeWF/vcKEwRELORoVjNK5Bm0vvi0/wUCSX0Ke0oop6+xt0IbcEaLKg17AqodGeWB382gCe4qyRYN8CZVP9Oqr4LuS2JhmVf7Ork9XuAz6UZDZXyhrsk8C4dbYJsAd9BcZAnAOsCa8LBvnzKRnrIqvtotXCiqBgt3Eor1nH</CipherValue>
          </CipherData>
        </EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>

      <!-- to trace LightField shutdown:                                    -->
      <!--   - set the TraceLightFieldShutdown switch to Verbose            -->
      <!-- to redirect output:                                              -->
      <!--   - uncomment out one <add> and <remove> elements in <listeners> -->
      <!--   - set autoflush in the <trace> element to true                 -->
      <source
        name="LightFieldShutdown"
        switchName="TraceLightFieldShutdown"
        switchType="System.Diagnostics.SourceSwitch"
        >
        <listeners>
          <!--<add
            name="LightFieldShutdownEventLog"
            type="System.Diagnostics.EventLogTraceListener"
            initializeData="Princeton Instruments LightField"
            />-->
          <!--<add
            name="LightFieldShutdownTraceFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="LightField Shutdown Trace File.txt"
            />-->
          <!--<remove
            name="Default"
            />-->
        </listeners>
      </source>

      <!-- to trace LightField persistence:                                 -->
      <!--   - set the TraceLightFieldPersistence switch to Verbose         -->
      <!-- to redirect output:                                              -->
      <!--   - uncomment out one <add> and <remove> elements in <listeners> -->
      <!--   - set autoflush in the <trace> element to true                 -->
      <source
        name="LightFieldPersistence"
        switchName="TraceLightFieldPersistence"
        switchType="System.Diagnostics.SourceSwitch"
        >
        <listeners>
          <!--<add
            name="LightFieldPersistenceEventLog"
            type="System.Diagnostics.EventLogTraceListener"
            initializeData="Princeton Instruments LightField"
            />-->
          <!--<add
            name="LightFieldPersistenceTraceFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="LightField Persistence Trace File.txt"
            />-->
          <!--<remove
            name="Default"
            />-->
        </listeners>
      </source>
    </sources>
    
    <switches>
      <add
        name="TraceLightFieldShutdown"
        value="Off"
        />
      <add
        name="TraceLightFieldPersistence"
        value="Off"
        />

      <!-- below can be used to track data work item lifetimes and the memory associated with them -->
      <!--
      <add name="DataWorkItemLifetimes" value="true"/>
      <add name="DataWorkItemDataMemory" value="true"/>
      -->

      <!-- below enables tracing of LightField experiment performance calculations -->
      <!--<add name="TraceLightFieldExperimentPerformance" value="true"/>-->

      <!--
          Switches below are for enabling the various keys for lightfield
            * EnableCustomKeys => Enables all of the the other switches to be applied
              * Then each of the six licenses have four flags each
                * Experiment, Intellical, Viewer, LegacyExperiment, LegacyIntellical, LegacyViewer
                  * HWKey => 1 = Hardware Key 0 = Software key
                  * Trial => 1 = Trial License, 0 = Permanent (If trial it will be set to 7 days remaining)
                  * Expired => 1 = Expired, 0 = not expired
                  * Disabled => 1 = Tells us not to use the license, 0 = license exists                  
      -->
      <!-- This is an example of a custom licensing scheme where only the fergie is licensed...
      <add name ="EnableCustomKeys" value ="1"/>
      <add name="ExperimentDisabled" value="1"/>
      <add name ="ExperimentHWKey" value="0"/>
      <add name ="ExperimentTrial" value="0"/>
      <add name ="ExperimentExpired" value="0"/>
      <add name="IntellicalDisabled" value="1"/>
      <add name ="IntellicalHWKey" value ="0"/>
      <add name ="IntellicalTrial" value="0"/>
      <add name ="IntellicalExpired" value="0"/>
      <add name="ViewerDisabled" value="1"/>
      <add name ="ViewerHWKey" value ="0"/>
      <add name ="ViewerTrial" value ="0"/>
      <add name ="ViewerExpired" value ="0"/>
      <add name="FergieDisabled" value="0"/>
      <add name ="FergieHWKey" value ="1"/>
      <add name ="FergieTrial" value="0"/>
      <add name ="FergieExpired" value="0"/>
      <add name="LegacyExperimentDisabled" value="1"/>
      <add name ="LegacyExperimentHWKey" value="0"/>
      <add name ="LegacyExperimentTrial" value="0"/>
      <add name ="LegacyExperimentExpired" value="0"/>
      <add name="LegacyIntellicalDisabled" value="1"/>
      <add name ="LegacyIntellicalHWKey" value ="0"/>
      <add name ="LegacyIntellicalTrial" value="1"/>
      <add name ="LegacyIntellicalExpired" value="0"/>
      <add name="LegacyViewerDisabled" value="1"/>
      <add name ="LegacyViewerHWKey" value ="1"/>
      <add name ="LegacyViewerTrial" value ="1"/>
      <add name ="LegacyViewerExpired" value ="0"/>
      -->
    </switches>

    <trace
      autoflush="false"
      >
      <!-- below redirects traces to the event log and/or text file -->
      <listeners>
        <!--<add
          name="LightFieldEventLog"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="Princeton Instruments LightField"
          />-->
        <!--<add
          name="LightFieldTraceFile"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="LightField Trace File.txt"
          />-->
        <!--<remove
          name="Default"
          />-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
