<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding
      xmlns="urn:schemas-microsoft-com:asm.v1"
      >
      <dependentAssembly>
        <assemblyIdentity
          name="MediaCy.IQL.ObjectManager"
          publicKeyToken="04a4038cbc51657a"
          culture="neutral"
          />
        <!--Redirection from registry keys (HKCR/Record) used for UDT Variant interop-->
        <bindingRedirect
          oldVersion="3.0.0.0-9.2.0.0"
          newVersion="9.2.6077.0"
          />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup
    useLegacyV2RuntimeActivationPolicy="true"
    >
    <supportedRuntime
      version="v4.0"
      />
  </startup>

  <system.diagnostics>
    <sources>
      <!-- to trace LightField shutdown:                                    -->
      <!--   - set the TraceLightFieldShutdown switch to Verbose            -->
      <!-- to redirect output:                                              -->
      <!--   - uncomment out one <add> and <remove> elements in <listeners> -->
      <!--   - set autoflush in the <trace> element to true                 -->
      <source
        name="LightFieldShutdown"
        switchName="TraceLightFieldShutdown"
        switchType="System.Diagnostics.SourceSwitch"
        >
        <listeners>
          <!--<add
            name="LightFieldShutdownEventLog"
            type="System.Diagnostics.EventLogTraceListener"
            initializeData="Princeton Instruments LightField"
            />-->
          <!--<add
            name="LightFieldShutdownTraceFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="LightField Shutdown Trace File.txt"
            />-->
          <!--<remove
            name="Default"
            />-->
        </listeners>
      </source>

      <!-- to trace LightField persistence:                                 -->
      <!--   - set the TraceLightFieldPersistence switch to Verbose         -->
      <!-- to redirect output:                                              -->
      <!--   - uncomment out one <add> and <remove> elements in <listeners> -->
      <!--   - set autoflush in the <trace> element to true                 -->
      <source
        name="LightFieldPersistence"
        switchName="TraceLightFieldPersistence"
        switchType="System.Diagnostics.SourceSwitch"
        >
        <listeners>
          <!--<add
            name="LightFieldPersistenceEventLog"
            type="System.Diagnostics.EventLogTraceListener"
            initializeData="Princeton Instruments LightField"
            />-->
          <!--<add
            name="LightFieldPersistenceTraceFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="LightField Persistence Trace File.txt"
            />-->
          <!--<remove
            name="Default"
            />-->
        </listeners>
      </source>
    </sources>

    <switches>
      <add
        name="TraceLightFieldShutdown"
        value="Off"
        />
      <add
        name="TraceLightFieldPersistence"
        value="Off"
        />
    </switches>

    <trace
      autoflush="false"
      />
  </system.diagnostics>
</configuration>
